html {
  font-family: 'Open Sans', sans-serif;
}
header {
  display: block;
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

header h1 {
  display: block;
  float: left;
  margin-top: 30px;
  margin-left: 1em;
}

.platform-logo {
  float: left;
  max-width: 120px;
  max-height: 120px;
}

.demo-box {
  display: block;
  float: left;
  width: 20%;
  padding: 0;
  margin: 0;
}
.config-area {
  display: block;
  float: left;
  width: 70%;
  padding: 0;
  margin: 0;
  background: #f1f1f1;
  padding: 20px;
}

label {
  display: block;
  float: left;
  width: 100%;
}

input,
select {
  display: block;
  float: left;
  clear: both;
  width: 250px;
  height: 38px;
  margin-top: 10px;
  margin-bottom: 20px;
  background: #fff;
  font-size: 1.1em;
}
